#namebox{
    background-color: rgb(200, 100, 50);
    font-size: 25px;
    text-align: center;
    height: 165px;
    border-radius: 25px;
    margin-top: 0%;
}
#websitename{
    justify-content: center;
    padding-bottom: 50px;
    font-family: comic sans ms;
    color: rgb(75, 30, 0);
    cursor: pointer;
}
body{
    background-color: burlywood;
}
#imag{
    margin-top: 10px;
    margin-left: 50px;
}
#websitename::first-letter{
    font-size: 100px;
}
#background{
    background-image: url(/pictures/background.jpg);
    background-repeat: no-repeat;
}
.dropdown{
    display: inline-block;
}
.dropdown button{
    background-color: rgb(200, 100, 50);
    padding: 15px 10px;
    font-size: x-large;
    cursor: pointer;
    border-radius: 10px;
}
.dropdown a{
    display: block;
    text-decoration: none;
    font-size: x-large;
    color: black;
    padding: 20px 62px;
}
.dropdown .content{
    position: absolute;
    background-color: burlywood;
    text-align: center;
    box-shadow: 5px 5px 5px black;
    display: none;
}
.dropdown:hover .content{
    display: block;
}
.dropdown:hover{
    display: inline-block;
}
.dropdown a:hover{
    background-color: rgb(230, 200, 160);
}
.dropdown{
    display: inline-block;
    color: rgb(200, 100, 50);
}
main{
    background-image: url(/pictures/background.jpg);
    height: 750px;
    align-items: center;
    background-repeat: no-repeat;
}
#paybox button{
    background-color: rgb(200, 100, 50);
    padding: 15px 10px;
    font-size: x-large;
    cursor: pointer;
    border-radius: 10px;
}